<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    {{!-- WebSite Assets --}}
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <link rel="icon" type="image/png" href="/common/img/favicon.png">
    <link rel="shortcut icon" type="image/png" href="/common/img/favicon.ico">
    <link rel="apple-touch-icon" href="/common/img/apple-touch-icon.png">
    <link rel="stylesheet" href="/common/css/style.css">
    <link rel="stylesheet" href="/common/css/extra.css">
    <script src="/common/js/lib/modernizr.custom.js"></script>
    <script src="/common/js/lib/underscore-min.js"></script>
    <script src="/common/js/lib/jquery-2.1.4.min.js"></script>
    <script src="/common/js/lib/eveeve.min.js"></script>
    <script src="/common/js/lib/jquery.nicetoggler.min.js"></script>
    <script src="/common/js/lib/jquery.easing.js"></script>
    <script src="/common/js/lib/easestepper.min.js"></script>
    <script src="/common/js/lib/jquery.touchdragh.min.js"></script>
    <script src="/common/js/lib/imagesloaded.pkgd.min.js"></script>
    <script src="/common/js/lib/jquery.easescroller.min.js"></script>
    <script src="/common/js/lib/jquery.allchecker.min.js"></script>
    <script src="/common/js/lib/jquery.tabify.min.js"></script>
    <script src="/common/js/lib/ajaxzip3.js" charset="UTF-8"></script>
    {{! --pickadate-- }}
    <link rel="stylesheet" href="/common/js/lib/pickadate/themes/default.css">
    <link rel="stylesheet" href="/common/js/lib/pickadate/themes/default.date.css">
    <script src="/common/js/lib/pickadate/picker.js"></script>
    <script src="/common/js/lib/pickadate/picker.date.js"></script>
    {{! --/pickadate-- }}
    {{! --photoswipe-- }}
    <link rel="stylesheet" href="/common/js/lib/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/common/js/lib/photoswipe/default-skin/default-skin.css">
    <script src="/common/js/lib/photoswipe/photoswipe.min.js"></script> 
    <script src="/common/js/lib/photoswipe/photoswipe-ui-default.min.js"></script> 
    {{! --/photoswipe-- }}
    <script src="/common/js/util.js"></script>
    <script src="/common/js/script.js"></script>
    <script src="/common/js/dev-script.js"></script>
    {{!-- /WebSite Assets --}}

    {{!-- Aigis Assets --}}
    <link href="{{root}}assets/css/highlight/{{config.highlight_theme}}.css" rel="stylesheet">
    <link href="{{root}}assets/css/base.css" rel="stylesheet">
    {{!-- /Aigis Assets --}}
    <title>{{config.name}}</title>
  </head>
<body>
<!-- <header class="aigis-header"><a href="{{root}}index.html">{{config.name}}</a></header> -->
<div class="aigis-container">
